<form [formGroup]="entry" (ngSubmit)="onSubmit(upload)">
  <ul>
    <li class="requiredEntry">
      <label for="date">DATE: </label>
      <input type="date" formControlName="date"/>
    </li>
    <li class="requiredEntry">
      <label for="lotNo">LOT NO: </label>
      <input type="number" formControlName="lotNo" />
    </li>
    <li class="requiredEntry">
      <label for="address">ADDRESS: </label>
      <input type="text" formControlName="address"/>
    </li>
    <li>
      <label for="boards">BOARDS: </label>
      <input type="number" formControlName="boards"/>
    </li>
    <li>
      <label for="boardType">BOARD TYPE: </label>
      <select formControlName = "boardType">
        <option value="B1 Liso">B1 Liso</option>
        <option value="B2 Liso">B2 Liso</option>
        <option value="HO/QA smo">HQ/QA smo</option>
        <option value="B1 text">B1 text</option>
        <option value="B2 text">B2 text</option>
        <option value="HO/QA">HO/QA</option>
      </select>
    </li>
    <li>
      <label for="repairsOrWarranty">REPAIRS/WARRANTY: </label>
      <input type="number" formControlName="repairsOrWarranty"/>
    </li>
    <li>
      <label for="observations">OBSERVATIONS: </label>
      <input type="text" formControlName="observations"/>
    </li>
    <li>
      <label for="image">IMGS: </label>
      <input id="image" type="file" multiple="multiple" formControlName="image" #upload/>
    </li>
  </ul>
  <button type="submit" [disabled]="!entry.valid">Submit</button>
</form>
<app-entries />
