<form [formGroup]="entry">

  <div class="d-flex flex-row mr-auto p-1">
    <label for="date" class="d-flex flex-col col-form-label mr-auto p-2">Date</label>
    <div class="d-flex flex-col">
      <input type="date" class="form-control" formControlName="date"/>
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="lotNo" class="d-flex flex-col col-form-label mr-auto p-2">Lot No</label>
    <div class="d-flex flex-col">
        <input type="number" class="form-control" formControlName="lotNo"/>
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="address" class="d-flex flex-col col-form-label mr-auto p-2">Address</label>
    <div class="d-flex flex-col">
        <input type="text" class="form-control" formControlName="address"/>
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="boardType" class="d-flex flex-col col-form-label mr-auto p-2">Work Type</label>
    <div class="d-flex flex-col">
        <select formControlName = "boardType" class="form-select">
          <option value="B1 Liso">B1 Smooth</option>
          <option value="B2 Liso">B2 Smooth</option>
          <option value="HO/QA smo">HO/QA Smooth</option>
          <option value="B1 text">B1 Texture</option>
          <option value="B2 text">B2 Texture</option>
          <option value="HO/QA">HO/QA Texture</option>
        </select>
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="boards" class="d-flex flex-col col-form-label mr-auto p-2">Boards</label>
    <div class="d-flex flex-col">
        <input type="number" class="form-control" formControlName="boards"/>
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="boardType" class="d-flex flex-col col-form-label mr-auto p-2">Repairs/Warranty</label>
    <div class="d-flex flex-col">
        <select formControlName="repairsOrWarranty" class="form-select">
          <option value="yes">yes</option>
          <option value="no">no</option>
        </select>
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="boards" class="d-flex flex-col col-form-label mr-auto p-2">Repair/Warranty Boards</label>
    <div class="d-flex flex-col">
        <input type="number" class="form-control" formControlName="repairBoards"/>
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="observations" class="d-flex flex-col col-form-label mr-auto p-2">Observations</label>
    <div class="d-flex flex-col">
        <input type="text" class="form-control" formControlName="observations" />
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="image" class="d-flex flex-col col-form-label mr-auto p-2">Images</label>
    <div class="d-flex flex-col">
      <input id="image" type="file" multiple="multiple" formControlName="image" class="form-control" #upload />
    </div>
    <div (click)=clearImages() class="d-flex flex-col">
      <button class="btn btn-secondary">Clear</button>
    </div>
  </div>

  <div class="d-flex flex-row mr-auto p-1">
    <label for="workers" class="d-flex flex-col col-form-label mr-auto p-2">Worker</label>
    <div class="d-flex flex-col">
      <input type="text" class="form-control" formControlName="workers"/>
    </div>
  </div>

  <div class="d-grid gap-1 d-md-flex justify-content-md-end" role="group">
    @if(this.entry.value.id == ""){
      <button (click)=clear() class="btn btn-secondary btn-sm"> Clear </button>
      <button (click)=onSubmit(upload) [disabled]="!entry.valid" class="btn btn-primary btn-sm me-md-2">Submit</button>
    } @else {
      <button (click)=clear() class="btn btn-secondary btn-sm"> Clear </button>
      <button (click)=onDelete() class="btn btn-danger btn-sm"> Delete </button>
      <button (click)=onEdit(upload) class="btn btn-primary btn-sm"> Save </button>
    }
  </div>
</form>
