<form [formGroup]="entry" (ngSubmit)="onSubmit(upload)">

  <div class="row mb-1">
    <label for="date" class="col-3 col-form-label-sm">
      Date
    </label>
    <div class="col">
      <input type="date" class="form-control" formControlName="date"/>
    </div>
  </div>

  <div class="row mb-1">
    <label for="lotNo" class="col-3 col-form-label-sm">
      Lot No
    </label>
    <div class="col">
        <input
          type="number"
          class="form-control"
          formControlName="lotNo"
          (input)=getLastCount()
        />
    </div>
  </div>

  <div class="row mb-1">
    <label for="address" class="col-3 col-form-label-sm">
      Address
    </label>
    <div class="col">
        <input
          type="text"
          class="form-control"
          formControlName="address"
          (input)=getLastCount()
        />
    </div>
  </div>

  <div class="row mb-1">
    <label for="boards" class="col-3 col-form-label-sm">
      Boards
    </label>
    <div class="col">
        <input
          type="number"
          class="form-control"
          formControlName="boards"
          [value]=this.lastBoardCount
        />
    </div>
  </div>

  <div class="row mb-1">
    <label for="boardType" class="col-3 col-form-label-sm">
      Work Type
    </label>
    <div class="col">
        <select formControlName = "boardType" class="form-control">
          <option value="B1 Liso">B1 Smooth</option>
          <option value="B2 Liso">B2 Smooth</option>
          <option value="HO/QA smo">HQ/QA Smooth</option>
          <option value="B1 text">B1 Texture</option>
          <option value="B2 text">B2 Texture</option>
          <option value="HO/QA">HO/QA Texture</option>
          <option value="repairsOrWarranty">Repairs - Warranty</option>
        </select>
    </div>
  </div>

  <div class="row mb-1">
    <label for="observations" class="col-3 col-form-label-sm">
      Observations
    </label>
    <div class="col">
        <input
          type="text"
          class="form-control"
          formControlName="observations"
        />
    </div>
  </div>

  <div class="row mb-1">
    <label for="image" class="col-3 col-form-label-sm">
      Images
    </label>
    <div class="col">
        <input
          id="image"
          type="file"
          multiple="multiple"
          formControlName="image"
          class="form-control"
          #upload
        />
    </div>
  </div>

  <div class="row mb-1">
    <label for="workers" class="col-3 col-form-label-sm">
      Worker
    </label>
    <div class="col">
        <input type="text" class="form-control" formControlName="workers"/>
    </div>
  </div>

  <div class="d-grid gap-1 d-md-flex justify-content-md-end" role="group">
    <button
      (click)=onSubmit(upload)
      [disabled]="!entry.valid"
      class="btn btn-primary btn-sm me-md-2">
      Submit
    </button>
    <button
      (click)=clearImageSelection()
      class="btn btn-secondary btn-sm">
      Clear
    </button>
  </div>

</form>

<app-entries></app-entries>
