<div class="table-responsive">
  <table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>Date</th>
        <th>Lot No & Address</th>
        <th>Boards</th>
        <th>Smooth B1</th>
        <th>Smooth B2</th>
        <th>Smooth HO/QA</th>
        <th>Texture B1</th>
        <th>Texture B2</th>
        <th>Texture HO/QA</th>
        <th>Repairs/Warranty</th>
        <th>Observations</th>
        <th>Worker</th>
        <th>Images</th>
      </tr>
    </thead>
    <tbody>
      @for (entry of this.entriesDisplayed; track entry.id) {
        <tr>
          <td>
              <button (click)="openEdit(entry)" class="btn btn-sm btn-secondary" routerLink="/">Edit</button>
          </td>
          <td>{{ entry.date }}</td>
          <td>{{ entry.lotNo }} {{ entry.address }}</td>
          <td>@if(entry.boards > 0){{{ entry.boards.toFixed(2) }}}</td>
          <td>@if(entry.smoothB1 > 0){{{ entry.smoothB1.toFixed(2) }}}</td>
          <td>@if(entry.smoothB2 > 0){{{ entry.smoothB2.toFixed(2) }}}</td>
          <td>@if(entry.smoothHoQa > 0){{{ entry.smoothHoQa.toFixed(2) }}}</td>
          <td>@if(entry.textureB1 > 0){{{ entry.textureB1.toFixed(2) }}}</td>
          <td>@if(entry.textureB2 > 0){{{ entry.textureB2.toFixed(2) }}}</td>
          <td>@if(entry.textureHoQa > 0){{{ entry.textureHoQa.toFixed(2) }}}</td>
          <td>@if(entry.repairsOrWarranty > 0){ {{ entry.repairsOrWarranty.toFixed(2) }} }</td>
          <td>{{ entry.observations }}</td>
          <td>{{ entry.workers }}</td>
          <td>
          @for (image of entry.image; track image){
            <a (click)=openFile(image) class="entryLink">
              {{ getFileNameFromUrl(image) }}
            </a>
            <br>
          }
          </td>
        </tr>
      }
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@if(smoothB1Total > 0){{{ smoothB1Total.toFixed(2) }}}</td>
        <td>@if(smoothB2Total > 0){{{ smoothB2Total.toFixed(2) }}}</td>
        <td>@if(smoothHoQaTotal > 0){{{ smoothHoQaTotal.toFixed(2) }}}</td>
        <td>@if(textureB1Total > 0){{{ textureB1Total.toFixed(2) }}}</td>
        <td>@if(textureB2Total > 0){{{ textureB2Total.toFixed(2) }}}</td>
        <td>@if(textureHoQaTotal > 0){{{ textureHoQaTotal.toFixed(2) }}}</td>
        <td>@if(repairsOrWarrantyTotal > 0){{{ repairsOrWarrantyTotal.toFixed(2) }}}</td>
        <td>Total$: </td>
        <td>@if(grandTotal > 0){{{ grandTotal.toFixed(2) }}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
