<h3>Most Recent Entries</h3>
@if(this.entries != undefined && this.user){
  <table id="entryTable">
    <tr>
      <th>Date</th>
      <th>Lot No</th>
      <th>Address</th>
      <th>Boards</th>
      <th>Smooth<br>B1</th>
      <th>Smooth<br>B2</th>
      <th>Texture<br>B1</th>
      <th>Texture<br>B2</th>
      <th>Texture<br>HO/QA</th>
      <th>Repairs/Warranty</th>
      <th>Observations</th>
      <th>Image</th>
    </tr>
    @for (entry of this.entries; track entry.id) {
    <tr>
      <td>{{ entry.date }}</td>
      <td>{{ entry.lotNo }}</td>
      <td>{{ entry.address }}</td>
      <td>{{ entry.boards }}</td>
      <td>{{ entry.smoothB1 }}</td>
      <td>{{ entry.smoothB2 }}</td>
      <td>{{ entry.textureB1 }}</td>
      <td>{{ entry.textureB2 }}</td>
      <td>{{ entry.textureHoQa }}</td>
      <td>{{ entry.repairsOrWarranty }}</td>
      <td>{{ entry.observations }}</td>
      <td>
      @for (image of entry.image; track image){
      <a (click)=downloadFile(image) >
        {{ getFileNameFromUrl(image) }}
      </a>
      <br>
      }
      </td>
    </tr>
    }
  </table>
} @else {
  <p>Please login to view recent entries and make new ones</p>
}
