.entryLink{
    color: purple;
    cursor: pointer;
    text-decoration: underline;
}
table {
  margin: 0 auto;
  border: 1px solid black;
}
th {
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}
td {
  text-align: center;
  border: 1px solid black;
}
